.wrapperHomeContainer {
  background-image: radial-gradient(#444444, #232322, #131312);
  background-position: center;
  height: 100vh;
}

/* ipad view */
@media screen and (max-width: 770px) {
  .header {
    display: none;
  }
  .wrapperHamburger {
    color: #fff;
    padding: 0px 10px;
    font-size: xx-large;
    display: flex;
    justify-content: center;
  }
  .wrapperDropdown {
    font-family: 'Mukta', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 50%;
    top: -300px;
    animation: drop 0.5s ease forwards;
  }

  @keyframes drop {
    0% {
    }
    100% {
      transform: translateY(305px);
    }
  }
  .iconActive {
    display: flex;
    justify-content: center;
    padding-top: 15px;
  }
  .fa-volleyball-ball {
    padding: 0px !important;
    font-weight: 500 !important;
  }
  .wrapperHamburgerRoutes {
    margin: -5px;
    list-style: none;
    padding: 15px 5px;
    font-size: 32px;
    background: rgb(47 46 46);
    width: 1000px;
    border-radius: 6px;
    position: relative;
    left: -50%;
  }
  .hamburgerRoutes {
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    letter-spacing: 3px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  .activeHamburgerIcon {
    cursor: pointer;
    padding-top: 50px;
    position: relative;
    right: 20px;
  }
}
.hamburgerIcon {
  cursor: pointer;
  padding-top: 50px;
}

/* mobile view  */
@media screen and (max-width: 650px) {
  .wrapperHamburgerRoutes {
    width: 420px;
    font-size: 20px;
  }

  .wrapperDropdown {
    animation: drop 0.5s ease forwards;
  }
  @keyframes drop {
    0% {
    }
    100% {
      transform: translateY(300px);
    }
  }
}

/* desktop view  */
@media screen and (min-width: 770px) {
  .wrapperHamburger {
    display: none;
  }
  .header {
    display: flex;
    height: 50px;
    padding: 50px 40px;
  }
  .smallLogoContainer {
    display: flex;
  }
  .smallLogo {
    width: 130px;
    background-image: url('../../assets/jcat_logo_white.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
  }
  .nav {
    font-family: 'Mukta', sans-serif;
    color: #fafafa;
    width: 100%;
  }
  .wrapperDesktopRoutes {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    text-transform: uppercase;
  }
  .desktopRoutes {
    margin: 0px 50px;
    cursor: pointer;
  }
  .desktopRoutesAbout {
    margin: 0px 0px 0px 50px;
    cursor: pointer;
  }
  .desktopRoutesAbout:hover,
  .desktopRoutes:hover {
    color: #006c87;
  }
  .homeLink {
    color: white;
    text-decoration: none;
  }
}

.logoContainer {
  position: absolute;
  top: 41%;
  right: 50%;
}
.logo {
  width: 30vh;
  display: flex;
  justify-content: center;
  background-image: url('../../assets/JACT_white.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 16vh;
  position: relative;
  right: -50%;
}
.wrapperFooter {
  position: absolute;
  bottom: 2%;
  width: 100%;
}
.footer {
  display: flex;
  padding: 40px 40px 15px 40px;
  justify-content: flex-end;
}
.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  cursor: pointer;
}
.icons:hover {
  color: #5a4a0d;
}
.icons {
  padding: 0px !important;
  font-size: 20px;
  color: #706161;
}
